

/* ==========================================================================
   Global styles
   ========================================================================== */

.navbar, .btn, .main-menu, .filter {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

h1 {
  color: #FFFFFF;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: -3px;
}

h2 {
  color: #6F7D8C;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -2px;
}

h3 {
  color: #6F7D8C;
  font-size: 28px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 20px;
}

h4 {
  color: #FFFFFF;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}

h5 {
  color: #525C71;
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
}

h6 {
  color: #FFFFFF;
  font-size: 19px;
  line-height: 19px;
  font-weight: 300;
}

p {
  color: #919da8;
  font-size: 14px;
  line-height: 22px;
}

small {
  color: #919da8;
}

.more {
  font-weight: bold;
  font-size: 13px;
}


/*----------------Buttons-----------------*/
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline: none;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.btn-lg {
  font-size: 15px;
  line-height: 1.33;
  padding: 18px 32px;
}

.btn-sm {
  font-size: 11px;
  line-height: 1.33;
  padding: 14px 28px;
}


/*----------------Utilities-----------------*/

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/*----------------Margins-----------------*/

.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}


/*----------------Colors-----------------*/

.black {
  color: #1E2633;
}

.extra-dark-gray {
  color: #323949;
}

.dark-gray {
  color: #525C71;
}

.gray {
  color: #6F7D8C;
}

.light-gray {
  color: #9FAAAD;
}

.extra-light-gray {
  color: #E8EAEA;
}

.white {
  color: #FFFFFF;
}


/* ==========================================================================
   Navigation styles
   ========================================================================== */
.navbar {
  height: 70px;
  background: #1E2633;
  margin-bottom: 0px;
}

.navbar-inverse {
  background-color: #1E2633;
  border-color: transparent;
}


a.nav-expander {
  background: #08090A;
  color: #FFFFFF;
  display: block;
  font-size: 1em;
  font-weight: 400;
  margin-right: 0;
  height: 70px;
  width: 130px;
  font-size: 17px;
  padding: 1.4em 1.6em 2em 1.6em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    right: 16.4em;
}

nav {
  background: #1C2330;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  top: 0;
  width: 20em;
  z-index: 2000;
  
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  right: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}

.main-menu {
  padding-top: 12px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}




/* ==========================================================================
   Main styles
   ========================================================================== */
section {
  padding: 60px 0px;
}

.white-bg {
  background: #FFFFFF;
}

.gray-bg {
  background: #E8EAEA;
}

.dark-gray-bg {
  background: #323949;
}


.dark-bg {
  background: #1E2633;
}

#main {
  height: auto;
}

#header-title {
  background: #323949;
  padding-top: 100px;
  height: 180px;
  overflow: hidden;
}

#background-image-header {
  background: url("../img/background-image.jpg") no-repeat center center;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  overflow: hidden;
}

#background-image-header img {
  margin: auto;
}

.team-member {
  padding-top: 30px;
}

.team-member p {
  padding: 20px 30px 0px 30px;
}


/*----------------Collaps Panel-----------------*/

#accordion {
    margin: auto;
    width: 96%;
}
.panel {
    background-color: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-default {
    border-color: rgba(0, 0, 0, 0);
}

.panel-group .panel {
    border-radius: 0px;
    margin-bottom: 0;
    overflow: hidden;
}

.panel-default > .panel-heading {
    background-color: #323949;
    border-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 18px 15px;
}

.panel-body {
  color: #919da8;
  font-size: 14px;
  line-height: 22px;
}



/*----------------Form Elements-----------------*/
.form-inline .form-group {
    vertical-align: top;
}

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    color: #323949;
    display: block;
    font-size: 14px;
    margin: auto;
    font-weight: bold;
    height: 45px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset, 0 0 0px rgba(12,23,32,0.0);
    outline: 0 none;
}

.form-group {
    margin-bottom: 3px;
}

.form-control::-webkit-input-placeholder {
   color: #141921;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #141921;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #141921;  
}

.form-control:-ms-input-placeholder {  
   color: #141921;  
}

.required {
    color: #F0626A;
    font-weight: bold;
    font-size: 12px;
    list-style: none outside none;
    margin-top: -35px;
    position: absolute;
    right: 25px;
}

.type {
    color: #F0626A;
    list-style: none outside none;
    margin-top: -35px;
    position: absolute;
    right: 25px;
}

.form-control.parsley-validated.parsley-error {
  border: 2px solid #F0626A;
  
}



/* ==========================================================================
   Home Page styles
   ========================================================================== */
#header {
  background: #1E2633;
  height: 400px;
  overflow: hidden;
}

.header-info {
  margin-top: 15%;
}


.delay1 {
	animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
}

.delay2 {
	animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
}

.delay3 {
	animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
}

.delay4 {
	animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
}


.col-link:hover i  {
  color: #6F7D8C;
  background: #323949;
  border: 2px solid #333a4b;
  padding-top: 50px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/*----------------Latest Work-----------------*/

.thumbs {
	padding: 0px;
  overflow: hidden;
  position: relative;
  margin: auto;
  color: #FFFFFF;
  font: 14px; 
}

.thumbs a {
  bottom: -200px;
  color: #FFFFFF;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  z-index: 100;
}

.thumbs a span.title {
	display: table;
	width: 80%;
	height: 90%;
	padding-left: 30px;
}

.thumbs a span.title span {
	color: #FFFFFF;
  font-size: 28px;
  line-height: 36px;
  font-weight: 300;
	vertical-align: middle;
	display: table-cell;
	
}

.thumbs a span.title span.project-info {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 17px;
  font-weight: normal;
}

.thumbs a:hover {
	bottom: 0;
  opacity: 1;
  transition: opacity 0.30s ease-in-out 0s, bottom 0.4s cubic-bezier(0.25, 0.840, 0, 1) 0s;
}

/*----------------Owl Carousel-----------------*/
.owl-item .thumbs {
  width: 100%;
}

.owl-theme .owl-controls{
	margin-top: 20px;
	text-align: center;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}


/*----------------Portfolio Filter-----------------*/
.list-inline.filter > li {
    background: none repeat scroll 0 0 #323949;
    color: #FFFFFF;
    padding: 4px 16px;
}

.list-inline.filter a {
  color: #FFFFFF;
  text-decoration: none;
}


/*----------------Latest News-----------------*/
.news-box {
  background: #323949;
  border-left: 6px solid #404654;
  padding: 40px 18px;
  margin-bottom: 3px;
}

.news-link:hover .news-box {
  background: #404654;
}

a.news-link span.icon {
  float: right;
  margin: 0.1em 0.5em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.news-link:hover span.icon {
  float: right;
  color: #FFFFFF;
  margin: 0.1em -0.1em -0.1em 0;
  opacity: 1;
}


/*----------------Testimonials-----------------*/
#testimonials {
  min-height: 540px;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.0) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}

.carousel-control .icon-next:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  content: '\f105';
}

.carousel-control .icon-prev:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  content: '\f104';
}

/*----------------Featured Clients-----------------*/
.clients img {
  margin: 20px auto;
}

a:hover.clients {
  opacity: 0.5;
}



/* ==========================================================================
   Services styles
   ========================================================================== */

.cbp-so-scroller {
	overflow: hidden;
}


/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

.cbp-so-section {
  border-bottom: 1px solid #e5e7e8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cbp-so-section.last {
  border-bottom: 0px;
}

/* Sides */
.cbp-so-side {
	width: 50%;
	float: left;
	margin: 0;
	padding: 3em 2%;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: right;
}

.cbp-so-side-left {
	text-align: left;
}

.cbp-so-side-right img {
	float: left;
}

.cbp-so-side-left img {
	float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}


/* ==========================================================================
   Pricing Styles
   ========================================================================== */
.pricing-container {
  padding-left: 0px;
  padding-right: 0px;
}

.pricing-table {
  background: #FFFFFF;
  margin-bottom: 50px;
}
.pricing-table.active {
  box-shadow: 0px 0px 12px rgba(41,46,50,0.6); 
  position: absolute;
  margin: auto;
  z-index: 200;
}

.pricing-table:hover {
  margin-top: -10px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.pricing-table li {
  padding-left: 20px;
  padding-right: 20px;
}

.headline {
  background: #1E2633;
  color: #FFFFFF;
  padding: 10px;
}

.price {
    background: none repeat scroll 0 0 #323949;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}

.amount {
  width: 140px;
  height: 140px;
  background: transparent;
  border: 2px solid #525C71;
  padding-top: 40px;
  margin: auto;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  
}

.pricing-table:hover li.price .amount {
  border: 2px solid #FFFFFF;
  -webkit-transition: all 0.85s ease-in-out;
  -moz-transition: all 0.85s ease-in-out;
  -o-transition: all 0.85s ease-in-out;
  transition: all 0.85s ease-in-out;
}

.price small {
  font-weight: 300;
  color: #919da8;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 13px;
  color: #919da8;
}

.features {
  color: #1E2633;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #E8EAEA;
}

.features.first {
  border-top: 1px dotted #E8EAEA;
}

.features.last {
  padding-top: 17px;
  padding-bottom: 20px;
}


/* ==========================================================================
   Sign Up styles
   ========================================================================== */
.signup {
  background: #1E2633;
  margin-top: 60px;
  padding: 30px;
}

#signup .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    color: #323949;
    display: block;
    font-size: 14px;
    max-width: 340px;
    margin: auto;
    font-weight: bold;
    height: 45px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}


.social-icons-signup li {
  background: none repeat scroll 0 0 #323949;
  color: #FFFFFF;
  font-size: 26px;
  padding: 8px 18px;
  margin-bottom: 3px;
  width: 56px;
}

.social-icons-signup.list-inline > li:first-child {
    padding-left: 14px;
}


/* ==========================================================================
   Blog styles
   ========================================================================== */
article {
  background: #FFFFFF;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.blog-meta, .blog-intro, .media, .blog h3 {
  padding-left: 20px;
  padding-right: 20px;
}

.blog-meta, .blog-meta-date, .blog-meta-author, .blog-meta-tags, .blog-meta-comments {
    display: inline-block;
    margin-right: 6px;
}

.sidebar {
  padding: 10px 30px;
}

.pagination {
    border-radius: 0;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.pagination > li > a, .pagination > li > span {
    background-color: #323949;
    color: #FFFFFF;
    border: 0 solid #DDDDDD;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    margin-right: 3px;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
}

.media-heading {
  color: #323949;
  font-size: 16px;
}

.media-body {
  color: #919da8;
  font-size: 14px;
  line-height: 22px;
}

.media, .media .media {
    margin-top: 35px;
}


.label-default {
    background-color: #323949;
}

.ads.list-inline > li {
    display: inline-block;
    padding-left: 0px;
    padding-right: 5px;
}

ul.ads.list-inline {
  margin-bottom: 5px;
}


/* ==========================================================================
   Contact styles
   ========================================================================== */
#map {
    height: 265px;
    padding-bottom: 0;
}

#map > iframe {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    height: inherit;
    overflow: hidden;
    width: 100%;
}


/* ==========================================================================
   Bottom Section styles
   ========================================================================== */
#bottom {
  background: #1E2633;
}

#bottom h3 {
  color: #FFFFFF;
}

.gray-box {
  background: #323949;
  padding: 15px 20px 5px 20px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.color-box p {
  color: #FFFFFF;
  word-wrap: break-word;
}

.bottom-links li {
  padding-bottom: 10px;
}

.social-icons li {
  background: none repeat scroll 0 0 #323949;
  color: #FFFFFF;
  font-size: 26px;
  padding: 4px 14px;
  margin-bottom: 3px;
  width: 49px;
}

.social-icons.list-inline > li:first-child {
    padding-left: 14px;
}

#footer {
  background: #08090A;
  padding: 16px 0px;
}

#footer p.copyright {
  color: #525C71;
  font-size: 12px;
}

/*----------------Email Sign Up -----------------*/
#email-signup .form-control {
    background-color: #323949;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) { 

.img-responsive {
  margin: auto;
}

.cbp-so-side img {
		max-width: 120%;
		margin: auto;
}
	
.cbp-so-side {
	float: none;
	width: 100%;
	padding: 0.6em 2%;
}

.pricing-container {
  padding-left: 15px;
  padding-right: 15px;
}

.pricing-table.active {
  position: relative;
}

	
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 

.img-responsive {
  margin: auto;
}

.cbp-so-side {
	padding: 0.6em 2%;
}

.pricing-container {
  padding-left: 15px;
  padding-right: 15px;
}

.pricing-table.active {
  position: relative;
}


}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
	
}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}
     


/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}   




