<section style="margin-top:10px">
<div class="container">
<div class="row">
<div class="">
	<h2>Internet connection speed test</h2>
	<div class="grid_12">
<h1><? __('Internet Connection Speed test');?></h1>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<script type="text/javascript">
 swfobject.embedSWF("http://www.ookla.com/flash/yourco-geoip/speedtest.swf?v=2.2", "flashcontent", "640", "400", "8");
 </script>

<div id="flashcontent">
  The Speed Test requires Flash Player 8.<br/><a href="http://get.adobe.com/flashplayer/">Please install flash here</a>.
</div>
</div>
</div></div></div></section>