<section style="margin-top:10px">
<div class="container">
<div class="row">
<div class="">
	<h2>TERMS OF SERVICE</h2>
     <p>   <br />
     1. ACCEPTANCE OF TERMS<br />
     Gestudio Cloud, at http://www.ipx.pm website ("IpX") provides the information as provided in these Terms of Service ("TOS"). IpX may update the TOS at any time and without prior notice by posting a new version at http://www.bitbucket.com/gestudio/ipx.pm . The information on this site and your use of it is subject to the most recent version of the TOS posted. <br /><br />
     2. DESCRIPTION OF SERVICE<br />
     IpX provides you with access to IP address information, browser information and network information services. Unless explicitly stated otherwise, any new features that augment or enhance the current IpX Service shall be subject to the TOS.<br /><br />
     3. YOUR REGISTRATION OBLIGATIONS<br />
     In consideration of your use of the IpX Service, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You also agree to:<br />
     (a) provide true, accurate, current and complete information about yourself as prompted by the IpX Service's registration form (the "Registration Data") and<br />
     (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or IpX has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, IpX has the right to suspend or terminate your account and refuse any and all current or future use of the IpX Services (or any portion thereof).<br /><br />
     4. IPX PRIVACY POLICY<br />
     Registration Data and certain other information about you is subject to our Privacy Policy.<br /><br />
     5. CONDUCT<br />
     You understand that all information, data, text, software, graphics or other materials ("Content"), whether publicly posted or privately transmitted, are the sole responsibility of the person from whom such Content originated. This means that you, and not IpX, are entirely responsible for all Content that you upload, post, email, transmit or otherwise make available via the IpX Service. IpX does not control the Content posted via the IpX Service and, as such, does not guarantee the accuracy, integrity or quality of such Content. Under no circumstances will IpX be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the IpX Service. You agree to not use the IpX Service to:<br />
         1) upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable or harm minors;<br />
         2) impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;<br />
         3) forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the IpX Service;<br />
         4) upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or other relationships;<br />
         5) upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;<br />
         6) upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," or any other form of solicitation;<br />
         7) upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;<br />
         8) disrupt the normal flow of dialogue, or otherwise act in a manner that negatively affects other users' ability to engage in discussions or exchanges;<br />
         9) interfere with or disrupt the IpX Service or servers or networks connected to the IpX Service, or disobey any requirements, procedures, policies or regulations of networks connected to the IpX Service;<br />
         10) intentionally or unintentionally violate any applicable local, state, national or international law,<br />
         11) "stalk" or otherwise harass another; and/or<br />
         12) collect or store personal data about other users in connection with the prohibited conduct and activities set forth in paragraphs above. You acknowledge that IpX may or may not pre-screen Content, but that IpX and its designees shall have the right (but not the obligation) in their sole discretion to pre-screen, refuse, move, or remove any Content that is available via the IpX Service and which violates the TOS. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. You acknowledge, consent and agree that IpX may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to:            <br />
         (a) comply with legal process;<br />
             (b) enforce the TOS;<br />
             (c) respond to claims that any Content violates the rights of third parties;<br />
             (d) respond to your requests for customer service; or (e) protect the rights, property or personal safety of IpX its users and the public.<br /><br />
     6. CONTENT MADE AVAILABLE FOR INCLUSION ON THE IpX SERVICE<br />
     IpX does not claim ownership of Content you submit or make available for inclusion via the IpX Service. However, with respect to Content you submit or make available for inclusion on the publicly available IpX Service, you irrevocably grant IpX the perpetual, worldwide, royalty-free and non-exclusive license, with the right to sublicense through multiple tiers of sublicensees, to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content, in whole or in part, on the IpX Service or other publications by IpX in any media whether now existing or which come into the existence into the future and to provide that information under the license set forth on the initial page of the http://www.ipx.pm/ Web site. And for Content you submit for private discussions, you grant IpX the worldwide, royalty-free and non-exclusive license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the associated private discussion group.<br /><br />
     7. INDEMNITY<br />
     You agree to indemnify and hold IpX and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from any claim or demand, including but not limited to reasonable attorneys' fees, made by any third party due to or arising out of Content you submit, post, transmit or otherwise make available through the Service, your use of the IpX Service, your connection to the Service, your violation of the TOS, or your violation of any rights of another.<br /><br />
     8. MODIFICATIONS TO IpX SERVICE You acknowledge that IpX may establish general practices and limits concerning use of the IpX Service, including without limitation the maximum number of days that email messages, message board postings or other uploaded Content will be retained by the IpX Service.. You further acknowledge that IpX reserves the right to modify these general practices and limits from time to time. IpX reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the IpX Service (or any part thereof) with or without notice. You agree that IpX shall not be liable to you or to any third party for any modification, suspension or discontinuance of the IpX Service.<br /><br />
     9. TERMINATION<br />
     You agree that IpX may terminate your access to the IpX Service for violations of the TOS and/or requests by authorized law enforcement or other government agencies.<br /><br />
     10. LINKS<br />
     The IpX Service may provide, or third parties may provide, links to other World Wide Web sites or resources. Because IpX has no control over such sites and resources, you acknowledge and agree that IpX is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that IpX shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.<br /><br />
     11. DISCLAIMER OF WARRANTIES<br />
     You expressly understand and agree that: Your use of the IpX service is at your sole risk. IpX service is provided on an "as is" and "as available" basis. IpX and its subsidiaries, affiliates, officers, employees and licensors expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement. IpX and its subsidiaries, affiliates, officers, employees and licensors make no warranty that<br />
     (i) The IpX service will meet your requirements;<br />
     (ii) The IpX service will be uninterrupted, timely, secure or error-free and<br />
     (iii) The results that may be obtained from the use of the IpX service will be accurate or reliable. No advice or information, whether oral or written, obtained by you from IpX or through or from the service shall create any warranty not expressly stated in the TOS.<br /><br />
     12. LIMITATION OF LIABILITY<br />
     You expressly understand and agree that IpX and its subsidiaries, affiliates, officers, employees, agents, partners and licensors shall not be liable to you for any direct, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if IpX has been advised of the possibility of such damages), resulting from the use or the inability to use the IpX service.<br /><br />
     13. NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT<br />
     IpX respects the copyright of others, and we ask our users to do the same. IpX may, in appropriate circumstances and at its discretion, disable and/or terminate the access of users who may be repeat infringers. If you believe that your work has been copied in a way that constitutes copyright infringement, please provide IpX's Copyright Agent the following information: an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright; a description of the copyrighted work that you claim has been infringed; a description of where the material that you claim is infringing is located on the site; your address, telephone number, and email address; a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.<br /><br />
     14. GENERAL INFORMATION<br />
     Entire Agreement. The TOS constitutes the entire agreement between you and IpX and governs your use of the IpX Service, superseding any prior agreements between you and IpX with respect to the IpX Service. Choice of Law and Forum. The TOS and the relationship between you and IpX shall be governed by the laws of the State of Florida without regard to its conflict of law provisions. You and IpX agree to submit to the personal and exclusive jurisdiction of the courts located within the county of West Palm Beach, Florida. Waiver and Severability of Terms. The failure of IpX to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision. If any provision of the TOS is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the TOS remain in full force and effect.</p>
</div>
</div>
</div>